<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Inspection</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="sidebar">
    <a class="active"><button routerLink="" class="button">Home</button></a></a>
    <a ><button [RouterLink]="'/driver'" class="button">Drivers</button></a>
    <a ><button routerLink="vehicle" class="button">Vehicles</button></a>
    <a ><button routerLink="proof" class="button">Proof Of Delivery</button></a>
    <a ><button routerLink="vehicle" class="button">Vehicle Location</button></a>
    <a ><button routerLink="horse" class="button">Horse Updates</button></a>
    <a ><button routerLink="trailer" class="button">Trailer Updates</button></a>
    <a ><button routerLink="incab" class="button">In Cab Updates</button></a>
    <a ><button routerLink="register" class="button">Super Visors</button></a>
  </div>

  <div class="content">
    <h2 class="PageHeader">Home Page</h2> 

    <div class="bodystuff">
        <h4 class="bodyheaders">Manage Drivers</h4>
        <p class="bodyheaders"> <button routerLink="driver" class="button"> Add / Remove / Edit / View All</button> </p>
    </div>

    <div class="bodystuff">
      <h4 class="bodyheaders">Manage Vehicles</h4>
      <p class="bodyheaders"> <button routerLink="truck" class="button"> Add / Remove / Edit / View All</button> </p>
    </div>

    <div class="bodystuff">
      <h4 class="bodyheaders">View Proof of Delivery</h4>
      <p class="bodyheaders"> <button routerLink="" class="button"> Save / Remove / Edit / View All</button></p>
    </div>

    <div class="bodystuff">
      <h4 class="bodyheaders">View Updates</h4>
      <p class="bodyheaders"> <button routerLink="" class="button"> View All</button> </p>
    </div>

    <div class="bodystuff">
      <h4 class="bodyheaders">View Potential Issues</h4>
      <p class="bodyheaders"> <button routerLink="" class="button"> View All</button> </p>
    </div>

    <div class="bodystuff">
      <h4 class="bodyheaders">Manages Super Visors</h4>
      <p class="bodyheaders"> <button routerLink="signup" class="button"> Add / Remove / Edit / View All</button> </p>
    </div>
    
  </div>
  <router-outlet></router-outlet>
</body>
</html>
  



