<table class="table table-stiped">
    <thead>
        <tr>
            <th>Working_Headlights</th>
            <th>Cracked_Headlights</th>
            <th>Attached_number_plate</th>
            <th>Clean_Mirrors</th>
            <th>Attached_Mirrors</th>
            <th>Clean_Windscreen</th>
            <th>Cracked_Windscreen</th>
            <th>Working_Wipers</th>
            <th>Cracked_Wipers</th>
            <th>Hazard_Diamond_working</th>
            <th>Expired_Liscence_Disk</th>
            <th>Fitted_Yellow_Reflections</th>
            <th>Oil_level_correct</th>
            <th>Correct_water_Level</th>
            <th>Correct_brake_fluid_level</th>
            <th>Power_steering_level_correct</th>
            <th>Hydraulics_leak_visible</th>
            <th>Full_and_Cap_fitted</th>
            <th>Working_Doors</th>
            <th>Working_Windows</th>
            <th>Attached_no_smoking_decals</th>
            <th>Trye_tred_at_a_minimum_4mm</th>
            <th>Wheel_markers_fitted_and_aligned</th>
            <th>Check_x3_triangles</th>
            <th>Valve_caps_Fitted</th>
            <th>Spill_Kit</th>
            <th>Dents_and_Damages</th>
            <th>DriverID</th>
            <th>Date</th>
            <th>TruckRegistration</th>
            
        </tr>
        <tbody>
            <tr *ngFor="let dataItem of HorseInfo">
                <td>{{dataItem.Working_Headlights}}</td>
                <td>{{dataItem.Cracked_Headlights}}</td>
                <td>{{dataItem.Attached_number_plate}}</td>
                <td>{{dataItem.Clean_Mirrors}}</td>
                <td>{{dataItem.Attached_Mirrors}}</td>
                <td>{{dataItem.Clean_Windscreen}}</td>
                <td>{{dataItem.Cracked_Windscreen}}</td>
                <td>{{dataItem.Working_Wipers}}</td>
                <td>{{dataItem.Cracked_Wipers}}</td>
                <td>{{dataItem.Hazard_Diamond_working}}</td>
                <td>{{dataItem.Expired_Liscence_Disk}}</td>
                <td>{{dataItem.Fitted_Yellow_Reflections}}</td>
                <td>{{dataItem.Oil_level_correct}}</td>
                <td>{{dataItem.Correct_water_Level}}</td>
                <td>{{dataItem.Correct_brake_fluid_level}}</td>
                <td>{{dataItem.Power_steering_level_correct}}</td>
                <td>{{dataItem.Hydraulics_leak_visible}}</td>
                <td>{{dataItem.Full_and_Cap_fitted}}</td>
                <td>{{dataItem.Working_Doors}}</td>
                <td>{{dataItem.Working_Windows}}</td>
                <td>{{dataItem.Attached_no_smoking_decals}}</td>
                <td>{{dataItem.Trye_tred_at_a_minimum_4mm}}</td>
                <td>{{dataItem.Wheel_markers_fitted_and_aligned}}</td>
                <td>{{dataItem.Check_x3_triangles}}</td>
                <td>{{dataItem.Valve_caps_Fitted}}</td>
                <td>{{dataItem.Spill_Kit}}</td>
                <td>{{dataItem.Dents_and_Damages}}</td>
                <td>{{dataItem.DriverID}}</td>
                <td>{{dataItem.Date}}</td>
                <td>{{dataItem.TruckRegistration}}</td>
            </tr>
        </tbody>
    </thead>
</table>
